<div id="login">

  <h1><strong>Add  Product </strong> </h1>

  <div class="login-box shadow">
   <form action="/managers/addproduct" method='post' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <label> please enter the product name </label>
     <input id="username" autocomplete="off" placeholder="product name" class='dark' type="text" name="product_name">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the quantitiy </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="stock_quantity">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the unit_price </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="unit_price">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the regionCode </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="regionCode">

        <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the category </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="category">

      <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the purchase cost </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="purchase_cost">


    <input type="submit" class='button large' value="ADD">
   
   

  </div>


