<div id="login">

  <h1><strong>Add  Sales Person </strong> </h1>

  <div class="login-box shadow">
   <form action="/managers/addsalesperson" method='post' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <label> please enter the sales person first name </label>
     <input id="username" autocomplete="off" placeholder="product name" class='dark' type="text" name="salesperson_fname">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the sales person last name </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="salesperson_lname">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the sales person email </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="salesperson_email">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the salesperson regionCode </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="salesperson_regionCode">

        <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the salesperson password </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="salesperson_password">

    <input type="submit" class='button large' value="ADD">
   
   

  </div>


