<div id="login">

  <h1><strong>Transfer From  </strong> </h1>

  <div class="login-box shadow">
   <form action="/managers/transferstock?_method=put" method='post' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <label> please enter the product name </label>
     <input id="username" autocomplete="off" placeholder="product name" class='dark' type="text" name="product_name">

     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the quantitiy to be transfered </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="quantity">


     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the regionCode </label>
     <input id="password" autocomplete="off" placeholder="quantity " class='dark' type="text" name="regionCode">

  <h1><strong>Transfer To </strong> </h1>

  <div class="login-box shadow">
   <form action="/managers/transferstock?_method=put" method='post' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <label> please enter the product name </label>
     <input id="username2" autocomplete="off" placeholder="product name" class='dark' type="text" name="name">

    
     <i id='password-input-icon' class='icon-lock'></i>
     <label> please enter the regionCode </label>
     <input id="password2" autocomplete="off" placeholder="quantity " class='dark' type="text" name="toRegionCode">


    <input type="submit" class='button large' value="ADD">

   
   

  </div>

