 #imd {
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	color: white;
	
	font-family: 'Libre Baskerville', serif;
	
}
#title{
	border-radius: 25px;
	margin-top: 200px;
	width: 600px;
	background-color:rgba(0, 0, 0, 0.8);
	margin-right: 33%;
	margin-left: 25%;
	padding-left: 25px;
	text-align: center;
	
}

#sub-tag {
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: 'Libre Baskerville', serif;
}

#logo {
	height: 75px;
	width: 75px;
	float: left;
}

#signIn {
	font-size: 20px;
	text-align: center;
	color: white;
	background: black;
	
}

#horrea2 {
	margin-left: 5px;
}

.li {
	color:white;
}

#logInBar {
	width: 350px;
}

#wronglogin {
	font-size: 20px;
	text-align: center;
	color: red;
	font-family: 'Libre Baskerville', serif;

}
.navbar-default .navbar-nav>li>a {
    
    color: white;
}
.navHorrea {
	color: white;
	
	font-family: 'Libre Baskerville', serif;
}
.nameDisplay {
	color: white !important;
	font-size: 30px;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	margin-left: 5px;
	
}
#welcomeJumbo {
	background-color:rgba(0, 0, 0, 0.8);
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 30px;
	height: 280px;
	width: 380px;
	float: left;
	border-radius: 25px;
}


.displayInstructions{
	font-size: 10px;
	text-align: center;
	color: white;
	font-family: 'Libre Baskerville', serif;


}

#bar-mod {
	    width: 100%;
    background: black;
}
#addProduct {
	text-align: center;
	font-size: 40px;
	font-family: 'Libre Baskerville', serif;
	color: black;
	font-weight: bold;

}

.lowStock{
	margin-top: 100px;
	font-family: 'Libre Baskerville', serif;
	color: black;
	font-size: 20px;
}

#lowStockTitle{
	text-align: center;
	font-size: 40px;
	font-family: 'Libre Baskerville', serif;v
	color: black;
	font-weight: bold;


}


.salespersonadd {
	margin-top: 100px;
	font-family: 'Libre Baskerville', serif;
	color: black;
	font-size: 20px;
	text-align: center;

}


#addStock{
	margin-top:90px;
	text-align: center;
	font-size: 40px;
	font-family: 'Libre Baskerville', serif;
	color: black;
	font-weight: bold;


}




}

		path {
            stroke: #fff;
        }

        path:hover {
            opacity: 0.9;
        }

        rect:hover {
            fill: blue;
        }

        .axis {
            font: 10px sans-serif;
        }

        .legend tr {
            border-bottom: 1px solid grey;
        }

        .legend tr:first-child {
            border-top: 1px solid grey;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .legend {
            margin-bottom: 76px;
            display: inline-block;
            border-collapse: collapse;
            border-spacing: 0px;
        }

        .legend td {
            padding: 4px 5px;
            vertical-align: bottom;
        }

        .legendFreq,
        .legendPerc {
            align: right;
            width: 50px;
        }


    #dashboard{
    	float:right;
    }

    .container-flex {
    	margin-top: 90px;
    }