 #imd {
	font-size: 50px;
	text-align: center;
	color: blue;
	font-family: 'Alfa Slab One', cursive;
	
}


#sub-tag {
	font-size: 30px;
	text-align: center;
	color: blue;
	font-family: 'Ropa Sans', sans-serif;
}

#logo {
	height: 75px;
	width: 75px;
	float: left;
}

#please-sign-in {
	font-size: 30px;
	text-align: center;
	color: blue;
	font-family: 'Ropa Sans', sans-serif;
}

#wronglogin {
	font-size: 20px;
	text-align: center;
	color: red;
	font-family: 'Ropa Sans', sans-serif;

}

.nameDisplay {
	color: blue !important;
	font-size: 40px;
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	
}


.displayInstructions{
	font-size: 40px;
	text-align: center;
	color: blue;
	font-family: 'Ropa Sans', sans-serif;


}