 #imd {
	font-size: 200px;
	font-weight: bold;
	text-align: center;
	color: white;
	
	font-family: 'Libre Baskerville', serif;
	
}
#title{
	border-radius: 25px;
	margin-top: 100px;
	width: 800px;
	background-color:rgba(0, 0, 0, 0.8);
	margin-right: 80%;

	padding-left: 25px;
	text-align: center;
	
}

#sub-tag {
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: 'Libre Baskerville', serif;
}
#logo {
    height: 75px;
    width: 75px;
    float: left;
}

#signIn {
	font-size: 20px;
	text-align: center;
	color: white;
	background: black;
	
}

#horrea2 {
	margin-left: 5px;
}

.li {
	color:white;
}

#logInBar {
	width: 350px;
}
#wronglogin {
    font-size: 20px;
    text-align: center;
    color: red;
    font-family: 'Ropa Sans', sans-serif;
}
#navbar {
	background: black;
	color: white;
	font-size: 20px;
	

}
.navHorrea {
	color: white;
	
	font-family: 'Libre Baskerville', serif;
}
.nameDisplay {
	color: white !important;
	
	font-size: 40px;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	
}
#welcomeJumbo {
	background-color:rgba(0, 0, 0, 0.8);
	margin-top: 50px;
	height: 400px;
	width: 400px;
	float: left;
	border-radius: 25px;
}


.displayInstructions{
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: ''Libre Baskerville', serif;


}
#addProduct {
    text-align: center;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    color: blue;
    font-weight: bold;
}
.lowStock{
    margin-top: 100px;
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    font-size: 20px;
}
#lowStockTitle{
    text-align: center;
    font-size: 40px;
    font-family: 'Ropa Sans', sans-serif;
    color: blue;
    font-weight: bold;
}
.salespersonadd {
    margin-top: 100px;
    font-family: 'Ropa Sans', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
#addStock{
    text-align: center;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    color: blue;
    font-weight: bold;
}


<<<<<<< HEAD
/*body {
           width: 1060px;
            margin: 50px auto;
      }*/

        path {
=======
}


#addStock{

	text-align: center;
	font-size: 30px;
	font-family: 'Alfa Slab One', cursive;
	color: blue;
	font-weight: bold;


}

.login-background{
    background-image: url("../img/horrea.pdn");
    background-repeat: no-repeat;
    
}



<<<<<<< HEAD
path {
>>>>>>> 1a5c7ea45743814c5a5c08547a10cfa392fd6b3c
=======
}

		path {
>>>>>>> nathan2
            stroke: #fff;
        }

        path:hover {
            opacity: 0.9;
        }

        rect:hover {
            fill: blue;
        }

        .axis {
            font: 10px sans-serif;
        }

        .legend tr {
            border-bottom: 1px solid grey;
        }

        .legend tr:first-child {
            border-top: 1px solid grey;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .legend {
            margin-bottom: 76px;
            display: inline-block;
            border-collapse: collapse;
            border-spacing: 0px;
        }

        .legend td {
            padding: 4px 5px;
            vertical-align: bottom;
        }

        .legendFreq,
        .legendPerc {
            align: right;
            width: 50px;
        }


    #dashboard{
    	float:right;
    }